<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/index.css">
	<title>Diploma generator</title>
</head>
<body>
	<div class="container">
		<div class="brown-bg">
			<div class="box berify">
				<h2>Verify a diploma ?</h2>
				<button id="verifyBtn" onclick="toggleForm()">Verify</button>
			</div>
			<div class="box create">
				<h2>Create a diploma ?</h2>
				<button id="createBtn" onclick="toggleForm()">Create</button>
			</div>
		</div>
		<div id="formBx">
			<!-- Create toogle create/verify for when is responsive -->
			<div class="form verifyForm">
				<button class="swapBtnCreate" onclick="toggleForm()">Create</button>
				<form action="javascript:verify()">
					<h3>Verify diploma</h3>
					<div class="inputBx">
						<span>PNG file</span>
						<input type="file" id="certificate" placeholder="PNG file"/>
					</div>
					<div class="inputBx">
						<input type="submit" value="Verify">
					</div>
				</form>
				<div></div>
			</div>
			<div class="form createForm">
				<button class="swapBtnVerify" onclick="toggleForm()">Verify</button>
				<form action="javascript:askOTP()">
					<h3>Create diploma</h3>
					<div class="inputBx">
						<span>First name</span>
						<input type="text" id="firstName" placeholder="First name"/>
					</div>
					<div class="inputBx">
						<span>Last name</span>
						<input type="text" id="lastName" placeholder="Last name"/>
					</div>
					<div class="inputBx">
						<span>Email</span>
						<input type="text" id="email" placeholder="Email"/>
					</div>
					<div class="inputBx">
						<span>Certificate name</span>
						<input type="text" id="certificate" placeholder="Certificate name"/>
					</div>
					<div class="inputBx">
						<input type="submit" value="Create">
					</div>
				</form>
				<div></div>
			</div>
		</div>
	</div>
	<script src="/static/js/index.js"></script>
</body>
</html>