<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/login.css">
	<title>Login | Diploma generator</title>
</head>
<body>
	<h3>
		Login page
	</h3>
	<div class="form-container">
		<div>
			<label for="email">Email</label>
			<input type="email" name="email" id="email">
		</div>
		<div>
			<label for="password">Mot de passe</label>
			<input type="password" name="password" id="password">
		</div>
		<button onclick="login()">Log in</button>
	</div>
	<script src="/static/js/login.js"></script>
</body>
</html>