<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/index.css">
	<title>Diploma generator</title>
</head>
<body>
	<div class="container">
		<div class="brown-bg">
			<div class="box berify">
				<h2>Verify a diploma ?</h2>
				<button id="verifyBtn" onclick="toggleForm()">Verify</button>
			</div>
			<div class="box create">
				<h2>Create a diploma ?</h2>
				<button id="createBtn" onclick="toggleForm()">Create</button>
			</div>
		</div>
		<div id="formBx">
			<!-- Create toogle create/verify for when is responsive -->
			<div class="form verifyForm">
				<button class="swapBtnCreate" onclick="toggleForm()">Create</button>
				<form action="javascript:verify()">
					<h3>Verify diploma</h3>
					<div class="inputBx">
						<span>PNG file</span>
						<input type="file" id="certificate" placeholder="PNG file"/>
					</div>
					<div class="inputBx">
						<input type="submit" value="Verify">
					</div>
				</form>
				<div></div>
			</div>
			<div class="form createForm">
				<button class="swapBtnVerify" onclick="toggleForm()">Verify</button>
				<form action="javascript:askOTP()">
					<h3>Create diploma</h3>
					<div class="inputBx">
						<span>First name</span>
						<input type="text" id="firstName" placeholder="First name"/>
					</div>
					<div class="inputBx">
						<span>Last name</span>
						<input type="text" id="lastName" placeholder="Last name"/>
					</div>
					<div class="inputBx">
						<span>Email</span>
						<input type="text" id="email" placeholder="Email"/>
					</div>
					<div class="inputBx">
						<span>Certificate name</span>
						<input type="text" id="certificate_name" placeholder="Certificate name"/>
					</div>
					<div class="inputBx">
						<input type="submit" value="Create">
					</div>
				</form>
				<div></div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="OTP_modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title">One-time password</h5>
			</div>
			<div class="modal-body d-flex justify-content-center flex-column">
				<div id="OTP-error-msg" class="error-msg">Error message</div>
				<div class="inputBx">
					<input type="text" id="OTP" placeholder="OTP" maxlength="6"/>
				</div>
			</div>
			<div class=" d-flex justify-content-around mb-3 OTP-buttons">
				<button type="button" onclick="hideModal()">Cancel</button>
				<button type="button" onclick="createDiploma()">Confirm</button>
			</div>
		</div>
		</div>
	</div>

	
	<!-- Modal 2 -->
	<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title">Diploma successfully created</h5>
			</div>
			<div class="modal-body d-flex justify-content-center flex-column">
				<p id="OTP-success-msg" class="text-center"></p>
			</div>
			<div class="d-flex justify-content-end mb-3">
				<button type="button" class="success-modal-button mx-3" onclick="hideSuccessModal()">Cancel</button>
			</div>
		</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="/static/js/index.js"></script>
</body>
</html>