body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--dark-primary);
	transition: .5s;
}

body.active {
	background: var(--primary)
}

.container {
	position: relative;
	width: 50em;
	height: 32em;
	margin: 1em;
	padding: 0;
}

.brown-bg {
	position: absolute;
	top: 2.5em;
	width: 100%;
	height: 26.25em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.brown-bg .box {
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.brown-bg .box h2 {
	color: #fff;
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 0.7em;
}

.brown-bg .box button {
	cursor: pointer;
	padding: 0.7em 1.2em;
	background: #fff;
	color: var(--grey);
	font-size: 16px;
	font-weight: 500;
	border: none;
}

#formBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: #fff;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
	transition: .5s ease-in-out;
	overflow: hidden;
}

#formBx.active {
	left: 50%;
}

#formBx .form {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 3em;
	transition: .5s;
}

#formBx .form .swapBtnVerify,
#formBx .form .swapBtnCreate {
	display: none;
	cursor: pointer;
	width: 100%;
	position: relative;
	padding: 0.5em 2em;
	margin-bottom: 0.5em;
	background: var(--light-primary);
	color: #fff;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.2em;
	letter-spacing: 2px;
}

#formBx .form .swapBtnVerify{
	clip-path: polygon(17% 1%, 100% 0, 88% 51%, 100% 100%, 17% 100%, 0 51%);
	
}

#formBx .form .swapBtnCreate {
	clip-path: polygon(0 0, 83% 1%, 100% 50%, 83% 100%, 0 100%, 12% 50%);
}


#formBx .verifyForm {
	transition-delay: .25s;
}

#formBx.active .verifyForm {
	left: -100%;
	transition-delay: 0s;
}

#formBx .createForm {
	transition-delay: 0s;
	left: 100%;
}

#formBx.active .createForm {
	transition-delay: .25s;
	left: 0;
}

#formBx .form form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#formBx .form form h3 {
	font-size: 1.5em;
	color: var(--dark-primary);
	text-transform: uppercase;
	margin-bottom: 0.5em;
	font-weight: 500;
	border-bottom: 4px solid var(--light-primary);
	display: inline-block;
	letter-spacing: 1px;
	width: fit-content;
}

#formBx .form form .inputBx {
	margin: 0.5em;
}

#formBx .form form .inputBx input{
	padding: 0.5em 0.7em;
}

.modal-body .inputBx {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

.error-msg {
	margin-bottom: 0.5em;
	text-align: center;
	color: var(--error);
	display: none;
}

.error-msg.active {
	display: block;
}

.inputBx input.error {
	border-color: var(--error);
}

#OTP {
	width: 6.7em;
	text-align: center;
}

.success-modal div p {
	color: var(--success);
}

.success-modal-button,
.OTP-buttons button {
	padding: 0.7em 1.2em;
	outline: none;
	border: none;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	border-radius: 30px;
	cursor: pointer;
	color: #FFFFFF;
}

.success-modal-button,
.OTP-buttons button:first-child {
	background: var(--grey);
}

.OTP-buttons button:last-child {
	background: var(--dark-primary);
}

@media (max-width: 768px) {
	.container {
		margin: 0;
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container .brown-bg {
		top: 0;
		height: 100%;
	}

	#formBx {
		width: 100%;
		top: 0;
		box-shadow: none;
	}

	#formBx.active {
		left: 0;
	}


	#formBx .form .swapBtnVerify,
	#formBx .form .swapBtnCreate {
		display: block;
	}

	#formBx .form {
		min-height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}

}